In [122]:
# Simple post-processing script to create a clean subset of tree data
#     - JRz, for personal use and not indended for real world application

#  NOTE: This is eliminating valid, useful data in lieu of something easier to visualize
#        It's possible that this will mask trends, as it is often VERY likely that missing data are non-randomly distributed (e.g. more missing data pre-1955 in this dataset)


import csv
import numpy as np
import pandas as pd

def passes_filter(row):
    # Filter criteria:
    #   Only listed trees that have full species name supplied
#     if len(row['qSpecies']) < 1 or 'Tree(s) ::' in row['qSpecies'] or row['qSpecies'] == "::":
#         return False
    if row['PlantDate'] == "":
        return False
    #   Only trees that have a lat and lng provided
    # elif len(row['Latitude']) < 1 or len(row['Longitude']) < 1:
    #     return False
    #   Only trees with valid SiteInfo
    #elif len(row['qSiteInfo']) < 1 or row['qSiteInfo'] == ':':
        #return False
    #   Only trees that have a DBH provided
    #elif len(row['DBH']) < 1:
        #return False
    else:
        return True

data = []
header = []
with open('Street_Tree_List.csv','r') as f:
    reader = csv.DictReader(f)
    
    header = reader.fieldnames
    for row in reader:
        if passes_filter(row):
            data.append(row)

print(len(data))

69019

In [124]:
data[0]

OrderedDict([('TreeID', '46534'),
             ('qLegalStatus', 'Permitted Site'),
             ('qSpecies', 'Tree(s) ::'),
             ('qAddress', '73 Summer St'),
             ('SiteOrder', '7'),
             ('qSiteInfo', 'Sidewalk: Curb side : Cutout'),
             ('PlantType', 'Tree'),
             ('qCaretaker', 'Private'),
             ('qCareAssistant', ''),
             ('PlantDate', '04/01/2002 12:00:00 AM'),
             ('DBH', ''),
             ('PlotSize', ''),
             ('PermitNotes', 'Permit Number 44686'),
             ('XCoord', ''),
             ('YCoord', ''),
             ('Latitude', ''),
             ('Longitude', ''),
             ('Location', ''),
             ('Fire Prevention Districts', ''),
             ('Police Districts', ''),
             ('Supervisor Districts', ''),
             ('Zip Codes', ''),
             ('Neighborhoods (old)', '')])

In [125]:
for a in data: 
    del a['PlantType']
    del a['qCareAssistant']
    del a['PermitNotes']
    del a['XCoord']
    del a['YCoord']
    del a['Location']
    del a['Fire Prevention Districts']
    del a['Police Districts']
    del a['Supervisor Districts']
    del a['Zip Codes']
    del a['Neighborhoods (old)']

In [126]:
for d in data:
    date = d["PlantDate"]
    year = date[6:10]
    d["yearPlanted"] = int(year)

In [127]:
data_pd = pd.DataFrame(data)

In [128]:
data_pd.groupby(["qSpecies", "yearPlanted"]).count().nlargest( 20, columns = "PlantDate")

                                                        TreeID  qLegalStatus  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972           1041          1041
                                           2001            704           704
                                           1973            492           492
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008            489           489
Tree(s) ::                                 2002            412           412
Tristaniopsis laurina :: Swamp Myrtle      2008            398           398
Tree(s) ::                                 1980            343           343
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998            323           323
Tristaniopsis laurina :: Swamp Myrtle      1998            319           319
Lophostemon confertus :: Brisbane Box      1995            309           309
Prunus cerasifera :: Cherry Plum           2000            289           289
Tree(s) ::                                 1974            280           280
                                           1979            272           272
                                           2014            270           270
Tristaniopsis laurina :: Swamp Myrtle      1995            269           269
Tree(s) ::                                 1976            266           266
                                           1969            256           256
Prunus cerasifera :: Cherry Plum           1998            252           252
Tree(s) ::                                 2015            244           244
Tristaniopsis laurina :: Swamp Myrtle      2006            241           241

                                                        qAddress  SiteOrder  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972             1041       1041
                                           2001              704        704
                                           1973              492        492
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008              489        489
Tree(s) ::                                 2002              412        412
Tristaniopsis laurina :: Swamp Myrtle      2008              398        398
Tree(s) ::                                 1980              343        343
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998              323        323
Tristaniopsis laurina :: Swamp Myrtle      1998              319        319
Lophostemon confertus :: Brisbane Box      1995              309        309
Prunus cerasifera :: Cherry Plum           2000              289        289
Tree(s) ::                                 1974              280        280
                                           1979              272        272
                                           2014              270        270
Tristaniopsis laurina :: Swamp Myrtle      1995              269        269
Tree(s) ::                                 1976              266        266
                                           1969              256        256
Prunus cerasifera :: Cherry Plum           1998              252        252
Tree(s) ::                                 2015              244        244
Tristaniopsis laurina :: Swamp Myrtle      2006              241        241

                                                        qSiteInfo  qCaretaker  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972              1041        1041
                                           2001               704         704
                                           1973               492         492
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008               489         489
Tree(s) ::                                 2002               412         412
Tristaniopsis laurina :: Swamp Myrtle      2008               398         398
Tree(s) ::                                 1980               343         343
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998               323         323
Tristaniopsis laurina :: Swamp Myrtle      1998               319         319
Lophostemon confertus :: Brisbane Box      1995               309         309
Prunus cerasifera :: Cherry Plum           2000               289         289
Tree(s) ::                                 1974               280         280
                                           1979               272         272
                                           2014               270         270
Tristaniopsis laurina :: Swamp Myrtle      1995               269         269
Tree(s) ::                                 1976               266         266
                                           1969               256         256
Prunus cerasifera :: Cherry Plum           1998               252         252
Tree(s) ::                                 2015               244         244
Tristaniopsis laurina :: Swamp Myrtle      2006               241         241

                                                        PlantDate   DBH  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972              1041  1041
                                           2001               704   704
                                           1973               492   492
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008               489   489
Tree(s) ::                                 2002               412   412
Tristaniopsis laurina :: Swamp Myrtle      2008               398   398
Tree(s) ::                                 1980               343   343
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998               323   323
Tristaniopsis laurina :: Swamp Myrtle      1998               319   319
Lophostemon confertus :: Brisbane Box      1995               309   309
Prunus cerasifera :: Cherry Plum           2000               289   289
Tree(s) ::                                 1974               280   280
                                           1979               272   272
                                           2014               270   270
Tristaniopsis laurina :: Swamp Myrtle      1995               269   269
Tree(s) ::                                 1976               266   266
                                           1969               256   256
Prunus cerasifera :: Cherry Plum           1998               252   252
Tree(s) ::                                 2015               244   244
Tristaniopsis laurina :: Swamp Myrtle      2006               241   241

                                                        PlotSize  Latitude  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972             1041      1041
                                           2001              704       704
                                           1973              492       492
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008              489       489
Tree(s) ::                                 2002              412       412
Tristaniopsis laurina :: Swamp Myrtle      2008              398       398
Tree(s) ::                                 1980              343       343
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998              323       323
Tristaniopsis laurina :: Swamp Myrtle      1998              319       319
Lophostemon confertus :: Brisbane Box      1995              309       309
Prunus cerasifera :: Cherry Plum           2000              289       289
Tree(s) ::                                 1974              280       280
                                           1979              272       272
                                           2014              270       270
Tristaniopsis laurina :: Swamp Myrtle      1995              269       269
Tree(s) ::                                 1976              266       266
                                           1969              256       256
Prunus cerasifera :: Cherry Plum           1998              252       252
Tree(s) ::                                 2015              244       244
Tristaniopsis laurina :: Swamp Myrtle      2006              241       241

                                                        Longitude
qSpecies                                   yearPlanted
Tree(s) ::                                 1972              1041
                                           2001               704
                                           1973               492
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008               489
Tree(s) ::                                 2002               412
Tristaniopsis laurina :: Swamp Myrtle      2008               398
Tree(s) ::                                 1980               343
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998               323
Tristaniopsis laurina :: Swamp Myrtle      1998               319
Lophostemon confertus :: Brisbane Box      1995               309
Prunus cerasifera :: Cherry Plum           2000               289
Tree(s) ::                                 1974               280
                                           1979               272
                                           2014               270
Tristaniopsis laurina :: Swamp Myrtle      1995               269
Tree(s) ::                                 1976               266
                                           1969               256
Prunus cerasifera :: Cherry Plum           1998               252
Tree(s) ::                                 2015               244
Tristaniopsis laurina :: Swamp Myrtle      2006               241

In [129]:
data_pd.groupby(["qSpecies"]).count().nlargest( 10, columns = "PlantDate")

,TreeID,qLegalStatus,qAddress,SiteOrder,qSiteInfo,qCaretaker,PlantDate,DBH,PlotSize,Latitude,Longitude,yearPlanted
qSpecies,,,,,,,,,,,,
Tree(s) ::,10117,10117,10117,10117,10117,10117,10117,10117,10117,10117,10117,10117
Lophostemon confertus :: Brisbane Box,4136,4136,4136,4136,4136,4136,4136,4136,4136,4136,4136,4136
Tristaniopsis laurina :: Swamp Myrtle,3593,3593,3593,3593,3593,3593,3593,3593,3593,3593,3593,3593
Arbutus 'Marina' :: Hybrid Strawberry Tree,3266,3266,3266,3266,3266,3266,3266,3266,3266,3266,3266,3266
Prunus cerasifera :: Cherry Plum,2586,2586,2586,2586,2586,2586,2586,2586,2586,2586,2586,2586
Magnolia grandiflora :: Southern Magnolia,2359,2359,2359,2359,2359,2359,2359,2359,2359,2359,2359,2359
Metrosideros excelsa :: New Zealand Xmas Tree,2281,2281,2281,2281,2281,2281,2281,2281,2281,2281,2281,2281
Pittosporum undulatum :: Victorian Box,2045,2045,2045,2045,2045,2045,2045,2045,2045,2045,2045,2045
Platanus x hispanica :: Sycamore: London Plane,1802,1802,1802,1802,1802,1802,1802,1802,1802,1802,1802,1802
Prunus serrulata :: Ornamental Cherry,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749,1749

In [130]:
header = ['TreeID',
 'qLegalStatus',
 'qSpecies',
 'qAddress',
 'SiteOrder',
 'qSiteInfo',
 'qCaretaker',
 'PlantDate',
 'DBH',
 'PlotSize',
 'Latitude',
 'Longitude',
    "yearPlanted"]

In [131]:
yearDict = {}
i = 1970
while i < 2020:
    yearDict[i] = 0
    i = i+1

In [132]:
data = [i for i in data if i["yearPlanted"] > 1969 and i["yearPlanted"] < 2020]

In [133]:
for d in data: 
    d["yearPlanted"] = int(d["yearPlanted"])
    yearDict[d["yearPlanted"]] += 1

In [134]:
treePlanted = pd.DataFrame(list(yearDict.items()),columns = ['Year','Trees'])
treePlanted

    Year  Trees
0   1970     72
1   1971      1
2   1972   1462
3   1973    732
4   1974    394
5   1975     68
6   1976    362
7   1977    279
8   1978    246
9   1979    379
10  1980    533
11  1981    405
12  1982    568
13  1983    636
14  1984    494
15  1985    635
16  1986    737
17  1987    919
18  1988    600
19  1989    768
20  1990   1188
21  1991    754
22  1992   1546
23  1993   1480
24  1994   1259
25  1995   2636
26  1996   1981
27  1997   1671
28  1998   4437
29  1999   1803
30  2000   3260
31  2001   2304
32  2002   2934
33  2003   2107
34  2004   1098
35  2005   1720
36  2006   2255
37  2007   2292
38  2008   4396
39  2009   1929
40  2010   1238
41  2011   1605
42  2012   1100
43  2013    919
44  2014   1409
45  2015   2197
46  2016   1932
47  2017   1768
48  2018   1432
49  2019   1070

In [135]:
with open('Street_Tree_List-Jenna_FILTERED.csv','w') as f:
    writer = csv.DictWriter(f, fieldnames=header)
    writer.writeheader()
    writer.writerows(data)

In [136]:
treePlanted.to_csv(r'treesPlanted.csv', index = False)