In [47]:
# Simple post-processing script to create a clean subset of tree data
#     - JRz, for personal use and not indended for real world application

#  NOTE: This is eliminating valid, useful data in lieu of something easier to visualize
#        It's possible that this will mask trends, as it is often VERY likely that missing data are non-randomly distributed (e.g. more missing data pre-1955 in this dataset)


import csv
import numpy as np
import pandas as pd

def passes_filter(row):
    # Filter criteria:
    #   Only listed trees that have full species name supplied
#     if len(row['qSpecies']) < 1 or 'Tree(s) ::' in row['qSpecies'] or row['qSpecies'] == "::":
#         return False
    if row['PlantDate'] == "":
        return False
    #   Only trees that have a lat and lng provided
    # elif len(row['Latitude']) < 1 or len(row['Longitude']) < 1:
    #     return False
    #   Only trees with valid SiteInfo
    #elif len(row['qSiteInfo']) < 1 or row['qSiteInfo'] == ':':
        #return False
    #   Only trees that have a DBH provided
    #elif len(row['DBH']) < 1:
        #return False
    else:
        return True

data = []
header = []
with open('Street_Tree_List-2020-08-20_RAW.csv','r') as f:
    reader = csv.DictReader(f)
    
    header = reader.fieldnames
    for row in reader:
        if passes_filter(row):
            data.append(row)

print(len(data))

17766

In [48]:
for d in data:
    date = d["PlantDate"]
    year = date[6:10]
    d["yearPlanted"] = int(year)

In [49]:
data_pd = pd.DataFrame(data)

In [60]:
data_pd.groupby(["qSpecies", "yearPlanted"]).count().nlargest( 20, columns = "PlantDate")

                                                        TreeID  qLegalStatus  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972            267           267
                                           2001            189           189
                                           1973            132           132
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008            122           122
Tree(s) ::                                 2002            101           101
Tristaniopsis laurina :: Swamp Myrtle      2008            101           101
Lophostemon confertus :: Brisbane Box      1995             94            94
Tristaniopsis laurina :: Swamp Myrtle      1998             82            82
Prunus cerasifera :: Cherry Plum           2000             80            80
Tree(s) ::                                 1974             78            78
Lophostemon confertus :: Brisbane Box      2006             76            76
Tree(s) ::                                 1980             75            75
                                           2014             75            75
                                           1976             73            73
                                           1979             71            71
Prunus cerasifera :: Cherry Plum           1998             70            70
Tristaniopsis laurina :: Swamp Myrtle      1995             70            70
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998             69            69
Tree(s) ::                                 1990             67            67
                                           1988             65            65

                                                        qAddress  SiteOrder  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972              267        267
                                           2001              189        189
                                           1973              132        132
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008              122        122
Tree(s) ::                                 2002              101        101
Tristaniopsis laurina :: Swamp Myrtle      2008              101        101
Lophostemon confertus :: Brisbane Box      1995               94         94
Tristaniopsis laurina :: Swamp Myrtle      1998               82         82
Prunus cerasifera :: Cherry Plum           2000               80         80
Tree(s) ::                                 1974               78         78
Lophostemon confertus :: Brisbane Box      2006               76         76
Tree(s) ::                                 1980               75         75
                                           2014               75         75
                                           1976               73         73
                                           1979               71         71
Prunus cerasifera :: Cherry Plum           1998               70         70
Tristaniopsis laurina :: Swamp Myrtle      1995               70         70
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998               69         69
Tree(s) ::                                 1990               67         67
                                           1988               65         65

                                                        qSiteInfo  qCaretaker  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972               267         267
                                           2001               189         189
                                           1973               132         132
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008               122         122
Tree(s) ::                                 2002               101         101
Tristaniopsis laurina :: Swamp Myrtle      2008               101         101
Lophostemon confertus :: Brisbane Box      1995                94          94
Tristaniopsis laurina :: Swamp Myrtle      1998                82          82
Prunus cerasifera :: Cherry Plum           2000                80          80
Tree(s) ::                                 1974                78          78
Lophostemon confertus :: Brisbane Box      2006                76          76
Tree(s) ::                                 1980                75          75
                                           2014                75          75
                                           1976                73          73
                                           1979                71          71
Prunus cerasifera :: Cherry Plum           1998                70          70
Tristaniopsis laurina :: Swamp Myrtle      1995                70          70
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998                69          69
Tree(s) ::                                 1990                67          67
                                           1988                65          65

                                                        PlantDate  DBH  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972               267  267
                                           2001               189  189
                                           1973               132  132
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008               122  122
Tree(s) ::                                 2002               101  101
Tristaniopsis laurina :: Swamp Myrtle      2008               101  101
Lophostemon confertus :: Brisbane Box      1995                94   94
Tristaniopsis laurina :: Swamp Myrtle      1998                82   82
Prunus cerasifera :: Cherry Plum           2000                80   80
Tree(s) ::                                 1974                78   78
Lophostemon confertus :: Brisbane Box      2006                76   76
Tree(s) ::                                 1980                75   75
                                           2014                75   75
                                           1976                73   73
                                           1979                71   71
Prunus cerasifera :: Cherry Plum           1998                70   70
Tristaniopsis laurina :: Swamp Myrtle      1995                70   70
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998                69   69
Tree(s) ::                                 1990                67   67
                                           1988                65   65

                                                        PlotSize  Latitude  \
qSpecies                                   yearPlanted
Tree(s) ::                                 1972              267       267
                                           2001              189       189
                                           1973              132       132
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008              122       122
Tree(s) ::                                 2002              101       101
Tristaniopsis laurina :: Swamp Myrtle      2008              101       101
Lophostemon confertus :: Brisbane Box      1995               94        94
Tristaniopsis laurina :: Swamp Myrtle      1998               82        82
Prunus cerasifera :: Cherry Plum           2000               80        80
Tree(s) ::                                 1974               78        78
Lophostemon confertus :: Brisbane Box      2006               76        76
Tree(s) ::                                 1980               75        75
                                           2014               75        75
                                           1976               73        73
                                           1979               71        71
Prunus cerasifera :: Cherry Plum           1998               70        70
Tristaniopsis laurina :: Swamp Myrtle      1995               70        70
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998               69        69
Tree(s) ::                                 1990               67        67
                                           1988               65        65

                                                        Longitude
qSpecies                                   yearPlanted
Tree(s) ::                                 1972               267
                                           2001               189
                                           1973               132
Arbutus 'Marina' :: Hybrid Strawberry Tree 2008               122
Tree(s) ::                                 2002               101
Tristaniopsis laurina :: Swamp Myrtle      2008               101
Lophostemon confertus :: Brisbane Box      1995                94
Tristaniopsis laurina :: Swamp Myrtle      1998                82
Prunus cerasifera :: Cherry Plum           2000                80
Tree(s) ::                                 1974                78
Lophostemon confertus :: Brisbane Box      2006                76
Tree(s) ::                                 1980                75
                                           2014                75
                                           1976                73
                                           1979                71
Prunus cerasifera :: Cherry Plum           1998                70
Tristaniopsis laurina :: Swamp Myrtle      1995                70
Arbutus 'Marina' :: Hybrid Strawberry Tree 1998                69
Tree(s) ::                                 1990                67
                                           1988                65

In [61]:
data_pd.groupby(["qSpecies"]).count().nlargest( 10, columns = "PlantDate")

,TreeID,qLegalStatus,qAddress,SiteOrder,qSiteInfo,qCaretaker,PlantDate,DBH,PlotSize,Latitude,Longitude,yearPlanted
qSpecies,,,,,,,,,,,,
Tree(s) ::,2623,2623,2623,2623,2623,2623,2623,2623,2623,2623,2623,2623
Lophostemon confertus :: Brisbane Box,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087
Tristaniopsis laurina :: Swamp Myrtle,920,920,920,920,920,920,920,920,920,920,920,920
Arbutus 'Marina' :: Hybrid Strawberry Tree,752,752,752,752,752,752,752,752,752,752,752,752
Prunus cerasifera :: Cherry Plum,659,659,659,659,659,659,659,659,659,659,659,659
Metrosideros excelsa :: New Zealand Xmas Tree,622,622,622,622,622,622,622,622,622,622,622,622
Magnolia grandiflora :: Southern Magnolia,587,587,587,587,587,587,587,587,587,587,587,587
Pittosporum undulatum :: Victorian Box,545,545,545,545,545,545,545,545,545,545,545,545
Platanus x hispanica :: Sycamore: London Plane,470,470,470,470,470,470,470,470,470,470,470,470
Prunus serrulata :: Ornamental Cherry,445,445,445,445,445,445,445,445,445,445,445,445

In [8]:
data_pd = pd.DataFrame(data)
species = np.array(data_pd["qSpecies"])
unique_species = np.unique(species)

In [9]:
a = pd.Series(np.concatenate(data_pd.qSpecies))

ValueError: zero-dimensional arrays cannot be concatenated

In [57]:
header = ['TreeID',
 'qLegalStatus',
 'qSpecies',
 'qAddress',
 'SiteOrder',
 'qSiteInfo',
 'qCaretaker',
 'PlantDate',
 'DBH',
 'PlotSize',
 'Latitude',
 'Longitude',
    "yearPlanted"]

In [52]:
yearDict = {}
i = 1970
while i < 2020:
    yearDict[i] = 0
    i = i+1

In [53]:
data = [i for i in data if i["yearPlanted"] > 1969 and i["yearPlanted"] < 2020]

In [54]:
for d in data: 
    d["yearPlanted"] = int(d["yearPlanted"])
    yearDict[d["yearPlanted"]] += 1

In [55]:
treePlanted = pd.DataFrame(list(yearDict.items()),columns = ['Year','Trees'])
treePlanted

    Year  Trees
0   1970     15
1   1971      0
2   1972    391
3   1973    194
4   1974    109
5   1975     14
6   1976     99
7   1977     71
8   1978     67
9   1979    101
10  1980    134
11  1981     96
12  1982    129
13  1983    178
14  1984    128
15  1985    172
16  1986    197
17  1987    259
18  1988    168
19  1989    203
20  1990    305
21  1991    189
22  1992    385
23  1993    408
24  1994    322
25  1995    673
26  1996    490
27  1997    403
28  1998   1119
29  1999    469
30  2000    836
31  2001    630
32  2002    742
33  2003    530
34  2004    275
35  2005    423
36  2006    642
37  2007    601
38  2008   1165
39  2009    499
40  2010    313
41  2011    378
42  2012    284
43  2013    248
44  2014    357
45  2015    537
46  2016    485
47  2017    405
48  2018    374
49  2019    296
50  2020    136

In [58]:
with open('Street_Tree_List-Jenna_FILTERED.csv','w') as f:
    writer = csv.DictWriter(f, fieldnames=header)
    writer.writeheader()
    writer.writerows(data)

In [59]:
treePlanted.to_csv(r'treesPlanted.csv', index = False)